# ====================================================================
# CONFIGURATION SPÉCIFIQUE AU DOSSIER WRITABLE DE CODEIGNITER
# ====================================================================

# Ignorer tous les fichiers générés à l'intérieur du dossier writable
writable/*

# S'assurer de NE PAS ignorer les sous-dossiers indispensables à la structure de l'application
!writable/cache/
!writable/debugbar/
!writable/logs/
!writable/session/
!writable/shared/
!writable/uploads/

# Ignorer tout le contenu de ces sous-dossiers
writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/shared/*
writable/uploads/*

# Autoriser Git à suivre les fichiers d'index/gabarits de sécurité s'ils existent
!writable/index.html
!writable/**/index.html

# Conserver la présence des dossiers vides sur Git grâce au fichier .gitkeep ou .html
!writable/cache/.gitkeep
!writable/debugbar/.gitkeep
!writable/logs/.gitkeep
!writable/session/.gitkeep
!writable/shared/.gitkeep
!writable/uploads/.gitkeep